
body {
    background-color: #fff;
}


#AnswerButContainer {
    background-color: red;
    height: 40%;
    width: 40%;
    overflow: hidden;
    margin: 1% 1%;
    padding: 1% 1%;



.questtext {
    resize: none;
    overflow: hidden;
}